* {
    font-family: Arial, Helvetica, sans-serif;
}

.cssbutton {
    margin-bottom: 50px;
    padding: 10px 15px;
    border-radius: 50px;
    outline: none;
    border: none;
    color: white;
    background-color: black;
    font-weight: 600;
    cursor: pointer;
}

.is-sub {
    color: black;
    background-color: rgb(240, 240, 240);
}

p {
    font-weight: 550;
    text-transform: capitalize;
}

.input1 {
    padding: 12px;
    font-size: 18px;
    background-color: rgba(143, 139, 139, 0.327);
    border: none;
    border-radius: 10px;
    color: rgb(0, 0, 0);
}

.buttto {
    border: none;
    padding: 12px 15px;
    font-size: 18px;
    background-color: green;
    color: rgb(237, 236, 236);
    border-radius: 5px;
    cursor: pointer;
}

.input1::placeholder,.css-typing::placeholder {
    color: black;
}

.Edit {
    font-size: 16px;
    color: red;
}
.Amazon{
    margin-bottom: 50px;
}
.css-typing{
    padding: 12px;
    font-size: 18px;
    background-color: rgba(143, 139, 139, 0.327);
    border: none;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    height: 20px;
}
.css-typing1{
    padding: 12px;
    font-size: 18px;
    background-color: rgba(143, 139, 139, 0.327);
    border: none;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    max-width: 300px;
}
.calculator1{
    background-color: black;
    width: 500px;
    margin: auto;
    border-radius: 20px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 30px 0px;
}
.calculator1 p{
color: rgb(255, 255, 255);
font-size: 30px;
width: 450px;
height: 100px;
border: 2px solid rgb(255, 255, 255);
font-size: 50px;
padding: 10px 0px 0px 20px;
border-radius: 20px;
margin: 30px 0px;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.grey{
    border: none;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #333333;
    color: white;
    font-size: 40px;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
.yellow{
    border: none;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #fda009;
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grey:hover{
    background-color: white;
    color:#333333
}
.yellow:hover{
    background-color: white;
    color:#fda009;
}
@media (max-width: 991px) {
    .grey{   
        width: 80px;
        height: 80px;
    }
    .yellow{
        width: 80px;
        height: 80px;  
    }
    .calculator1{
        width: 400px;
        border-radius: 20px;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0px 0px 30px 0px;
    
    }
    .calculator1 p{
    width: 350px;
    height: 100px;
    font-size: 40px;
    }
}