@import url('https://fonts.googleapis.com/css2?family=Matemasie&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 html{
   scroll-behavior: smooth;
 }
 body{
    background-color: rgb(219, 214, 208);
    font-family:prompt;
 }
 header{
    position: sticky; 
    top: 0; 
 }
  header div{
    background-color: black;
     height: 15vh;   
 
 }
 .one{
    background-color: aliceblue;
    height: 100vh;
    margin: 2vw 2vw 0vw 2vw;
    display: flex;
 }
 .one div:nth-child(1){
    height: 90vh;
    width: 50vw;
    background-color: rgb(242, 49, 49);
    margin: 2vw;
    border: 3px solid black;
 }
 .one div:nth-child(2){
    margin: 2vw;
    height: 90vh;
    width: 50vw;
    background-color: rgb(29, 225, 225);
    border: 3px solid black;
 }
 .two{
    border: 2px solid black; 
    border-radius: 50px; 
    margin: 3vw 10vw 8vw 10vw;  
    padding: 5vw;
    background-color: aliceblue;
 }
 .two h1 {
    text-align: center;
    font-size: 5vw;
    text-transform: capitalize;
 }
 footer{
    background-color: black;
    height: 15vh;  
 }
img{
    position: fixed;
    top: 86vh;
    left: 92vw;
    width: 6.3vw;
    background-color: rgba(237, 241, 244, 0.619);
    backdrop-filter: blur(16px);
    border-radius: 15px;
}
::selection {
   background-color: rgb(240, 2, 2);
   color: rgb(255, 255, 255);
}
@media only screen and (max-width: 768px){
    img{
        position: fixed;
        top: 80vh;
        left: 85vw;
        width: 12vw;
        background-color: rgba(237, 241, 244, 0.619);
        backdrop-filter: blur(16px);
        border-radius: 15px;
    }
    .one{
      background-color: aliceblue;
      height: 100vh;
      margin: 2vw 2vw 0vw 2vw;
      padding: 2vw 2vw 0vw 2vw;
      display: block;
   }
   .one div:nth-child(1){
      height: 45vh;
      width: 85vw;
      background-color: rgb(242, 49, 49);
      margin: 2vw;
      border: 3px solid black;
   }
   .one div:nth-child(2){
      margin: 2vw;
      height: 45vh;
      width: 85vw;
      background-color: rgb(29, 225, 225);
      border: 3px solid black;
   }
}
@media only screen and (max-width: 480px){
    img{
        position: fixed;
        top: 80vh;
        left: 85vw;
        width: 10vw;
        background-color: rgba(237, 241, 244, 0.619);
        backdrop-filter: blur(16px);
        border-radius: 15px;
    }
    .one{
      background-color: aliceblue;
      height: 95vh;
      margin: 2vw 2vw 0vw 2vw;
      padding: 2vw  2vw 0vw 2vw;
      display: block;
   }
   .one div:nth-child(1){
      height: 45vh;
      width: 84vw;
      background-color: rgb(242, 49, 49);
      margin: 2vw;
      border: 3px solid black;
   }
   .one div:nth-child(2){
      margin: 2vw;
      height: 45vh;
      width: 84vw;
      background-color: rgb(29, 225, 225);
      border: 3px solid black;
   }

}