@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Pirata One", system-ui;
}
.navbar .red{
    background-color: red;
    color: white;

}
/* #head{
    background-color: aqua;
} */
 header{
    position: sticky;
    top: 0;
 }
.navbar {
    display: flex;
    background-color: rgb(5, 26, 255);
    padding: 30px;
 }
 .navbar ul li a{
    text-decoration: none;
    color: rgb(3, 255, 255);
    margin-left: 15vw;
    padding-left: 5vw;
    font-size: 30px;
 }
 .navbar ul li{
    list-style: none; 
    color: white;

 }
 .one{
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    
 }
 .two{
 color: aliceblue;
 }
 .three{
    font-size: 50px;
    text-align: center;
    width: 48.2vw;

 }
 footer div {
    background-color: black;
    height: 25vh;
    border: 5px solid rgb(232, 20, 20);
    margin: 20px;
    color: azure;
    font-size: 8vw;
    text-align: center;
    text-transform: uppercase;   
 }
.n{
   display: none;
 }
 main {
    margin: 10px;
    background-color: darkred;
    padding: .8vw;
display: flex;
border-radius: 22px;
 }
 main p{
    width: 48vw;
    background-color: rgb(14, 209, 37);
    color: azure;
    font-size: 30.6px;
    border-radius: 10px;
 }

 :target{
    color: rgb(251, 0, 0);
    background-color: rgb(0, 0, 0);
    display: block;
 }
 #head{
    background-image: url(past.jpg) ;
    background-position: top left ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
    font-size: 36.9px;
    text-transform: capitalize;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(233, 3, 3, 0.335);
    border-radius: 10px;
    width: 48vw;
   
 
 }
 @media only screen and (max-width: 480px){
    footer div{
        background-color: black;
        height: 8vh;
        padding: .5vh;
        border: 5px solid rgb(232, 20, 20);
        margin: 20px;
        color: azure;
        font-size: 4vh;
        text-align: center;
        text-transform: uppercase;    
     }
     #head{
        background-image: url(past.jpg) ;
        background-position: center center ;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        text-align: center;
        font-size: 40px;
        text-transform: capitalize;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: rgba(233, 3, 3, 0.335);
        width: 90vw;
     }

     main {
        margin: 10px;
        background-color: darkred;
        padding: .8vw;
    display: block;
     }
     main p{
        width: 90vw;
        background-color: rgb(14, 209, 37);
        color: azure;
        font-size: 30px;
        border-radius: 15px; 
        text-align: center;
     }
     .three{
       font-size:50px ; 
       width: 91vw;
       height: 10vh;
       font-size: 42px;
       text-transform: capitalize;
     }
    
     .one{
        background-color: rgb(0, 0, 0);    
        border-radius: 20px; 
     }
     .two{
     color: rgb(255, 255, 255);
     }
 }