*{
 box-sizing: border-box;
}
.cart{
    border: none;
    padding: 10px 50px;
    background-color: rgb(255,216,20);
    color: black;
    font-size: 18px;
  border-radius: 50px ;
}
.cart1{
    border: none;
    padding: 12px 30px;
    background-color: rgb(0, 0, 0);
    color:white;
    font-size: 18px;
  border-radius: 10px ;
  font-weight: 550;
  width: 90%;

}
.cart2{
    border: none;
    padding: 10px 20px;
    background-color: rgb(230, 230, 230);
    color: black;
    font-size: 18px;
  border-radius: 10px ;
  font-weight: 550;
}
.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    gap: 15px;
}
.js-cart1{
    border: none;
    padding: 10px 20px;
    background-color: rgb(230, 230, 230);
    color: black;
    font-size: 18px;
  border-radius: 10px ;
  font-weight: 550;
}
h3{
    font-size: 30px;
    color: white;
    background-color: rgb(255, 0, 0);
    padding: 10px 20px;
    border-radius: 10px ;
    width: 100%;
    text-align: center;
}
